#bodycontent{
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
}
.sidecontainer{
  width:250px;
  height:auto;
  border: 1px solid #D9D9D9;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  background-color: #FFFFFF;
}
#appointmentnav{
  position: absolute;
  top: 150px;
  left: 355px;
}
#sidepanel{
  text-align: center;
}
#panel1{
  width:247px;
  height:150px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid #D9D9D9;
}
#panel2{
  width: 247px;
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid #D9D9D9;
}
#sidenav{
  text-decoration: none;
  color: #000000;
}
#abc{
  padding-bottom: 10px;
}
#botnav {
  text-decoration: none;
}