
#maincontainerheader{
  padding-top:15px;
  padding-left:20px;
}

#editbutton{
  padding-left:20px;
  padding-right:20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
}
#cancelbutton{
  padding-left:20px;
  padding-right:20px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
}
.table-wrapper {
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
  width: 500px;
}