.profile-table {
  color: #000000;
  width: 900px;
  height: auto;
  font-size: 18px;
  line-height: 24px;
}
.profile-row {
  height: 30px;
}
.profile-col {
  width: 220px;
  text-align: left;
}